[submodule "resources/Microsphere-Utility-Scripts"]
	path = resources/Microsphere-Utility-Scripts
	url = https://github.com/Moore-Lab/Microsphere-Utility-Scripts
[submodule "resources/usphere-DAQ"]
	path = resources/usphere-DAQ
	url = https://github.com/Moore-Lab/usphere-DAQ
[submodule "resources/usphere-FPGA"]
	path = resources/usphere-FPGA
	url = https://github.com/Moore-Lab/usphere-FPGA
